################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/arturochavez.github.io/v17/.wsuo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/arturochavez.github.io/FileContentIndex/read.lock
/.vs/arturochavez.github.io/FileContentIndex/d3b28228-7cce-4224-983f-59b0840d2eff.vsidx
/.vs/arturochavez.github.io/FileContentIndex/41bc1ce8-5b4d-4222-bab1-381ee1241912.vsidx
/.vs/arturochavez.github.io/FileContentIndex/96501ce4-9d2a-4e4e-82d3-1a817b7f65ab.vsidx
/.vs/arturochavez.github.io/FileContentIndex/f926e198-1045-4434-a80c-e592408093b5.vsidx
/.vs/arturochavez.github.io/FileContentIndex/merges/333b654e-59c1-4bf5-9001-222204f8f388.vsidx
/.vs/arturochavez.github.io/FileContentIndex/1e22702d-b8b6-46fd-b9b7-3d82c86038cd.vsidx
/.vs/arturochavez.github.io/FileContentIndex/df259d66-527d-46ad-9402-f36746cd698f.vsidx
/.vs/arturochavez.github.io/FileContentIndex/57c71a36-9374-47bb-9619-a7ba6a6ad0ef.vsidx
/.vs/arturochavez.github.io/FileContentIndex/write.lock
/.vs/arturochavez.github.io/FileContentIndex/62d1f353-228c-417d-97a9-af449cfa8de6.vsidx
/.vs/arturochavez.github.io/FileContentIndex/merges/fdb75e98-bafa-42e5-9dbf-395d582886c3.vsidx
/.vs/arturochavez.github.io/FileContentIndex/2ee4cdca-41a3-4fef-80e9-a2de0232dfd8.vsidx
/.vs/arturochavez.github.io/FileContentIndex/merges/26bbf79a-e70c-4c0c-96ba-dd803db42e18.vsidx
/.vs/arturochavez.github.io/FileContentIndex/497120f8-0336-463d-8b6e-95e1838c039e.vsidx
/.vs/arturochavez.github.io/FileContentIndex/merges/aefd7cc9-6529-4538-8f4e-554898cb4ec8.vsidx
/.vs/arturochavez.github.io/FileContentIndex/9c24d4c0-f273-4ad9-b1f6-9b324c6e2e32.vsidx
/.vs/arturochavez.github.io/FileContentIndex/merges/8f56306d-e80c-426c-a619-1e615d697dd5.vsidx
/.vs/arturochavez.github.io/FileContentIndex/4d1c1567-d9a0-47a4-97f9-62af4fde5e33.vsidx
/.vs/arturochavez.github.io/FileContentIndex/fa29d632-dc33-41ae-b5a4-f6d27d2efbf6.vsidx
/.vs/arturochavez.github.io/FileContentIndex/b17a7db3-7273-4b77-ba23-e6c806233e47.vsidx
/.vs/arturochavez.github.io/config/applicationhost.config
/.vs/arturochavez.github.io/FileContentIndex
